.PollWaiting-row {
  display: flex;
}

.PollWaiting-name {
  padding-right: 8px;
  text-align: right;
  width: 50%;
}

.PollWaiting-status {
  padding-left: 8px;
  text-align: left;
  width: 50%;
}

.PollWaiting-ready {
  color: #66a7f9;
}

.PollWaiting-voting {
  color: #999;
}
