.Screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.Screen-header {
  background: #151820;
  color: #9a9a9a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Screen-header h1 {
  font-size: 16px;
  font-weight: normal;
  margin: 16px 18px;
}

.Screen-header-left,
.Screen-header-right {
  width: 100px;
  font-size: 0.8em;
}

.Screen-header-right {
  display: flex;
  justify-content: flex-end;
}

.Screen-main,
.Screen-footer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.Screen-main {
  flex: 1;
  height: 100%;
  padding: 18px;
  overflow: scroll;
  max-width: 500px;
}

.Screen-main h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 14px 0 16px;
}

.Screen-main h3 {
  color: #979797;
  font-size: inherit;
  font-weight: normal;
  margin: 16px 0 32px;
}

.Screen-footer {
  display: flex;
  justify-content: stretch;
  max-width: calc(500px - 36px);
}

.Screen-footer button {
  flex: 1;
}