.App {
  background-color: #282c34;
  color: white;
  min-height: 100%;
  text-align: center;
}

.App-header {
  background: #202125;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}
