.Popup {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: 0.2s background;
}

.Popup.open {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  pointer-events: auto;
}

.Popup-contents {
  background: #282c34;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s all;
  max-height: 100%;
}

.Popup.open > .Popup-contents {
  bottom: 0;
  opacity: 1;
}

.Popup-main {
  padding: 18px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
}

.Popup-footer {
  display: flex;
  justify-content: stretch;
  max-width: calc(500px - 36px);
  width: 100%;
  margin: 0 auto;
}

.Popup-footer button {
  flex: 1;
}
