.Tag {
  border: 1px solid;
  border-color: #0bb751;
  border-radius: 4px;
  color: #0bb751;
  display: inline-block;
  font-size: 0.7em;
  margin: 0 8px;
  padding: 2px 4px;
  vertical-align: bottom;
}
